@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
/* 숨김 콘테츠 */
legend, .a11yHidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 스타일 초기화 */
.resetMargin{
  margin-top: 0;
  margin-bottom: 0;
}
.resetList{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.resetBox{
  margin: 0;
  padding: 0;
  border: 0;
}
/* 공통 배경 */
.appMain {
  background-color: blue;
}
.book {
  background-color: tomato;
  height: 10vh;
}
.news {
  background-color: lime;
  height: 10vh;
}
.board {
  background-color: silver;
  height: 10vh;
}
.favorite {
  background-color: hotpink;
  height: 10vh;
}
.twitter {
  background-color: blueviolet;
  height: 10vh;
}
.appFooter {
  background-color: orange;
  height: 15vh;
}
/* 공통 스타일 */
html {
  font-size: 10px;
}
body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  font-size: 1.6rem;
  color: #181818;
  background-color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 공통 컨테이너 */
.appContainer {
  display: flex;
  flex-flow: row wrap;
}
.appHeader,
.appNavigation,
.appMain,
.appFooter {
  width: 100%;
}
/* 공통 멤버 링크 */
.memberOnly{
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem 1rem 0.2rem 2rem;
}
.memberOnly a{
  display: inline-block;
  padding: 0.8rem 1rem;
}
/* 공통 검색 폼 */
input[name="search"]{
  height: 30px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 2px 1em;
  margin-right: 5px;
}
/* 모바일 디바이스 */
@media screen and (max-width: 999px) {
  /* 모바일 Body */
  body {
    font-size: 1.5rem;
  }
  /* 모바일 헤더 */
  .appHeader {
    display: flex;
    flex-flow: row wrap;
    background-color: #38302e;
  }
  .brand, .memberOnly, .searchForm{
    width: 100%;
  }
  /* 모바일 로고 */
  .brand a{ 
    display: block;
    padding: 1rem 2rem;
  }
  /* 모바일 멤버 링크 */
  .memberOnly{
    order: -1;
    background-color: #988574;
    color: #fff;
  }
  /* 모바일 검색 폼 */
  .searchForm{
    padding: 0 20px 20px;
  }
  input[name="search"]{
    width: calc(100% - 40px);
  }
  .buttonSearch{
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #fff;
    position: relative;
  }
  .buttonSearch::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  url(./images/btn_search.png) no-repeat 0 0/cover scroll;
  }
  /* 모바일 내비게이션 */
  .appNavigation {
    display: none;
  }
  /* 모바일 메인 */
  .appMain {
    display: flex;
    flex-flow: row wrap;
    height: 50vh;
  }
  /* 모바일 추천 서적 */
  .book {
    width: 50%;
  }
  /* 모바일 새소식 */
  .news {
    width: 50%;
  }
  /* 모바일 게시판 */
  .board {
    width: 70%;
  }
  /* 모바일 인기사이트 */
  .favorite {
    width: 30%;
  }
  /* 모바일 트위터 */
  .twitter {
    width: 100%;
  }
  /* 모바일 푸터 */
  .appFooter {
    height: 25vh;
  }
}
/* 데스크탑 디바이스 */
@media screen and (min-width: 1000px) {
  /* 데스크탑 컨테이너 */
  .appContainer {
    justify-content: center;
  }
  /* 데스크탑 헤더 */
  .appHeader {
    position: relative;
    width: 1000px;
  }
  /* 데스크탑 로고 */
  .brand{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
  }
  /* 데스크탑 멤버 링크 */
  .memberOnly{
    margin-right: -2rem;
  }
  /* 데스크탑 검색 폼 */
  .searchForm{
    text-align: right;
    padding: 1rem 0 2rem;
  }
  input[name="search"]{
    width: 40%;
  }
  .buttonSearch{
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 30px;
    padding: 2px 15px;
    background-color: #988574;
    color: #fff;
  }
  /* 데스크탑 내비게이션 */
  .appNavigation{
    background-color: #988574;
  }
  .menu__list{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .menu__item{
    float: left;
    margin-left: 36px;
    margin-right: 36px;
  }
  .menu__link{
    font-weight: 700;
    font-size: 1.8rem;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
  }
  .menu__subMenu{
    padding-left: 25px;
  }
  .menu__subMenu li{
    margin: 0.5rem 0;
  }
  .menu__subMenu a{
    display: block;
    padding: 0.5rem 0;
  }
  .buttonBurger{
    display: none;
  }
  /* 데스크탑 메인 콘텐츠 */
  .appMain {
    width: 1000px;
  }
}